<header class="header">
    <div class="header__title">
        <div class="container container--full">
          <a [routerLink]="['empleados/dashboard']">
            <img  class="header__title__logo" 
                src="assets/img/logo.png" 
                alt="Logo">
          </a>
          <h1>Empleados</h1>
          <app-session></app-session>
        </div>
    </div>
    <div class="header__categories">
        <div class="container">
            <a [routerLink]="['empleados/listado', category.value]" 
                *ngFor="let category of CATEGORIES">
                {{category.name}}
            </a>
        </div>
    </div>
</header>
<div class="search-container">
    <app-search></app-search>
</div>
